extends ./templates/home.pug

block head
  title mvtest

block body
  h1=title
    if page!='home'
      button.btn.btn-primary(data-toggle="modal" data-target="#create") New
  .list-group
    each item in objects
      a(href=item.url).list-group-item.list-group-item-action.flex-column.align-items-start
        .d-flex.w-100.justify-content-between
          h5.mb-1=item.name
        if(item.desc)
          p.mb-1=item.desc
        if(item.small)
          small=item.small

block foot
  case page
    when 'tasks'
      include includes/taskManage.pug
    when 'exams'
      //include includes/examManage.pug